version: '3.8'

services:
  {{ SERVICE_NAME }}:
    build:
      context: ${PWD}
      dockerfile: Dockerfile.dev
    image: ${SERVICE_ID}
    container_name: ${SERVICE_ID}
    env_file: ${PWD}/.env
    volumes:
      - ${PWD}/src:/src
    ports:
      - ${EXTERNAL_PORT}:8080