build:
  context: $PWD/{{ SERVICE_ID }}
image: ${{ SERVICE_ID|upper }}_SERVICE_ID
container_name: ${{ SERVICE_ID|upper }}_SERVICE_ID
env_file: $PWD/{{ SERVICE_ID }}/.env
volumes:
  - $PWD/{{ SERVICE_ID }}/src:/src
ports:
  - ${{ SERVICE_ID|upper }}_EXTERNAL_PORT:8080